body {
    background-color: #FFFFCC;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
center {
    margin-top: 50px;
}
p {
    background-color: #FFCC99;
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    width: 80%;
}
a {
    color: black;
    text-decoration: none;
}
button {
    background-color: #FFCC99;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

footer-wrapper {
    display: flex;
    justify-content: center;
    color: #007575;
    padding-bottom: 3rem;
}